body,
html {
	height: 100%;
	margin: 0;
	background-color: white;
	font-family: "Rubik", sans-serif;
	height: 100%;
}
h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	text-align: left;
}
h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 38px;
	text-align: left;
}
h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
	text-align: left;
}
h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
}
h5 {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
}
h6 {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}
a {
	text-decoration: none;
	color: #6e38f7;
	text-transform: uppercase;
	font-family: "Rubik", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: right;
}
.container {
	flex: 1;
	width: 100%;
	max-width: 940px;
	margin: auto;
}

.paragraph {
}
.small-paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	color: #95a1bb;
}
/* HEADER -----------------------------------------------------> */
.header {
	height: 76px;
	/* width: 1400px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 14px;
}

.menu li:hover {
	text-decoration: underline;
	color: #6e38f7;
}

/* BODY -----------------------------------------------------> */
/* Kotik  */
.kotik {
	display: flex;
	justify-content: space-between;
	height: 724px;
}
.kotik-info {
}
.kotik-title {
	font-size: 58px;
	font-weight: 500;
	line-height: 68px;
	text-align: left;
	margin-top: 185px;
}
.kotik-text {
	margin-top: 106px;
	margin-bottom: 216px;
}
.kotik-img {
	max-width: 481px;
	max-height: 635px;
	margin-top: 27px;
}

/* SKILLS */
.skills {
	margin-top: 50px;
}
.skills h2 {
	text-align: center;
	margin-bottom: 40px;
}
.accordion {
	max-width: 940px;
	margin: 0 auto;
}

.accordion-item {
	border-bottom: 1px solid #ccc;
	overflow: hidden;

	margin-bottom: 20px;
}

.accordion-title {
	display: block;
	padding: 15px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	border: 1px solid #e1e5ee; /* Изменяем цвет границы по умолчанию на прозрачный */

	border-radius: 0px 0px 3px 3px;
	border-bottom: none;
}

.accordion-title::after {
	content: "+";
	color: #6e38f7;
	position: absolute;
	right: 15px;
}

.accordion-item input {
	display: none;
}

.accordion-item input:checked + .accordion-title {
	border-color: #6e38f7; /* Изменяем цвет границы при checked состоянии */

	border-radius: 3px 3px 0px 0px;
}

.accordion-item input:checked + .accordion-title::after {
	content: "−";
}

.accordion-item input:not(:checked) ~ .accordion-content {
	display: none;
}

.accordion-content {
	padding: 15px;
	background: #fff;
	border: 1px solid #6e38f7; /* Добавляем границу контенту */
	border-top: none;
	border-radius: 0 0 3px 3px;
}

/* CARD */
.posts {
	/* height: 1110px; */
	margin-top: 100px;
}
.posts h2 {
	text-align: center;
}

.posts__cards {
}
.posts a {
	display: flex;
	justify-content: right;
	margin-top: 52px;
	margin-bottom: 48px;
}
.posts__card {
	display: flex;
	gap: 40px;
	margin-bottom: 50px;
}
.posts__card-img {
}
.posts__card-img img {
	max-width: 440px;
	height: 270px;
	object-fit: cover;
}
.posts__card-img img {
	width: 440px;
	height: 270px;
	object-fit: cover;
}
.posts__card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
	padding-bottom: 5px;
}
.posts__card-info {
	display: flex;
	flex-direction: column;
}
.posts__card-title {
}
.posts__card-text {
	margin-top: 20px;
}
.posts__card-time {
}

/* FOOTER */
.footer {
	height: 64px;
	/* margin-top: 100px; */
	margin-top: auto;
	display: flex;
	justify-content: center;
}

/* МЕДИАЗАПРОСЫ */

/* Media Queries */

/* Мобилки */
@media (max-width: 576px) {
	.menu {
		display: none;
	}

	.container {
		width: 288px;
		margin: auto;
	}
	.kotik {
		display: block;
		flex-direction: column;
	}

	.kotik-info {
	}
	.kotik-title {
		margin-top: 54px;
	}
	.kotik-text {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.kotik-img {
		max-width: 288px;
		max-height: 413px;
		margin-top: 27px;
	}

	.skills {
		margin-bottom: 100px;
	}
	.posts h2 {
		margin-bottom: 20px;
	}

	.posts__card {
		display: block;
	}
	.posts__card-img {
		margin-bottom: 17px;
	}
	.posts__card-img img {
		max-width: 288px;
		height: 270px;
		object-fit: cover;
	}

	.posts__content {
		display: flex;
		flex-direction: column-reverse;
	}
	.posts a {
		margin-top: 0px;
		justify-content: center;
	}

	.footer {
		margin-top: auto;
	}
}

/* Пейзажные планшеты */
@media (max-width: 1024px) {
}

/* Настольные компьютеры и большие экраны */
@media (max-width: 1280px) {
}
